* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
    font-family: "Bungee", sans-serif;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h1 {
            font-weight: normal;
        }

        & nav {

            & li {
                display: inline;
                margin-left: 16px;
                font-size: 18px;

                & a {
                    color: #ecf0f1;
                    text-decoration: none;
                }
            }
        }
    }
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 24px 0;



    & .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        & h2 {
            font-family: "Bungee", sans-serif;
            font-weight: normal;
            color: #182c61;
        }

        & img {
            margin-right: 32px;
        }

        & h2 {
            margin-bottom: 16px;
        }

        & p {
            margin-bottom: 8px;
            color: #182c61;
        }

        & .brands-list {

            & li {
                display: inline;
                margin-right: 8px;

                & img {
                    height: 24px;
                }
            }

        }

    }
}

#contact {

    & .container {
        display: block;

        & .contact-methods {
            display: flex;
            justify-content: space-between;

            

            & h3{
                font-family: "Bungee", sans-serif;
                color: #182c61;
                font-weight: normal;
            }

            & form {

                & input,
                textarea, button {
                    display: block;
                    width: 320px;
                    margin-bottom: 8px;
                    padding: 8px;
                    resize: none;
                    font-family: "Roboto";
                }

                & textarea{
                    height: 180px;
                }

                & input:focus,
                textarea:focus {
                    outline-color: #182c61;
                }

                & button{
                    background-color: #182c61;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                }

                & button:hover {
                    background-color: #3353a8;
                }

                

            }

            & .social-links {

                & li {
                    display: inline;
                    margin-right: 8px;
                    
                    & a {
                        text-decoration: none;
                        & img {
                            height: 24px;
                        }
                    }
                }



            }
        }
    }
}

footer{
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}